name: Lint and test

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install dependencies and lint files
        run: |
          pnpm install
          pnpm lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install dependencies and run tests
        run: |
          pnpm install
          pnpm test
      - name: Test commit linting
        if: ${{ hashFiles('commitlint.config.js') != '' }}
        run: |
          echo 'fix: make sure commitlint works' | pnpm exec commitlint
      - name: Save code coverage to artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: code-coverage
          path: coverage/lcov.info
          retention-days: 5

  upload-coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Fetch code coverage artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: code-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
