name: Lint and test

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies and lint files
        run: |
          npm ci
          npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies and run tests
        run: |
          npm ci
          npm test
      - name: Test commit linting
        if: ${{ hashFiles('commitlint.config.js') != '' }}
        run: |
          echo 'fix: make sure commitlint works' | npx --no-install commitlint
