name: Lint and test with coverage

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        description: Token for code coverage uploads
        required: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies and lint files
        run: |
          npm ci
          npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies and run tests
        run: |
          npm ci
          npm test
      - name: Save code coverage to artifact
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage
          path: coverage/lcov.info
          retention-days: 5

  upload-coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
      - name: Fetch code coverage artifact
        uses: actions/download-artifact@v7
        with:
          name: code-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true