name: Lint and test

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install dependencies and lint files
        run: |
          pnpm install --frozen-lockfile
          pnpm lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install dependencies and run tests
        run: |
          pnpm install --frozen-lockfile
          pnpm test
      - name: Test commit linting
        if: ${{ hashFiles('commitlint.config.js') != '' }}
        run: |
          echo 'fix: make sure commitlint works' | pnpm exec commitlint
